# data
data/*.csv
data/*.csv.zip
data/*.zip
!data/README.md

# outputs
outputs/*
!outputs/.gitkeep

# python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
.pytest_cache/

# notebooks
.ipynb_checkpoints/

# os
.DS_Store
